@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import 'basic.css';
@import 'userlist.css';
@import 'form.css';

/****  필수 스타일 정의 ****/
* {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #b5d7f2;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

/**** js 기능을 위한 css ****/
.hiding {
  display: none;
}
