
/*=========================================
 *           임시스타일 정의 
=========================================*/  

.main {
    width : 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/**********************필수 스타일 정의************************/
.hiding {
    display: none;
}
